<html xmlns:th="http://www.w3.org/1999/xhtml">
<body>
<form action="#"
      th:action="@{/login}"
      th:object="${userDto}"
      method="POST">
    <div>
        <label th:text="nickname">nickname</label>
        <input type="text" th:field="*{nickname}"/>
        <p th:if="${#fields.hasErrors('nickname')}"
           th:each="err: ${#fields.errors('nickname')}"
           th:text="${err}">Validation error</p>
    </div>
    <div>
        <label th:text="password">password</label>
        <input type="password" th:field="*{password}"/>
        <p th:if="${#fields.hasErrors('password')}"
           th:each="err: ${#fields.errors('password')}"
           th:text="${err}">Validation error</p>
    </div>
    <button type="submit" th:text="sign in">sign in</button>
</form>
<p th:if="${errors}" th:each = "err: ${errors}" th:text="${err.defaultMessage}">errors</p>
<a th:href="@{/register.html}" th:text="registration">registration</a>
</body>
</html>