<html xmlns:th="http://www.w3.org/1999/xhtml">
<body>
<form action="#"
      th:action="@{/registration}"
      th:object="${userDto}"
      method="POST">
    <div>
        <label th:text="firstName">first</label>
        <input type="text" th:field="*{firstName}"/>
        <p th:if="${#fields.hasErrors('firstName')}"
           th:each="err: ${#fields.errors('firstName')}"
           th:text="${err}">Validation error</p>
    </div>
    <div>
        <label th:text="lastName">last</label>
        <input type="text" th:field="*{lastName}"/>
        <p th:if="${#fields.hasErrors('lastName')}"
           th:each="err: ${#fields.errors('lastName')}"
           th:text="${err}">Validation error</p>
    </div>
    <div>
        <label th:text="email">email</label>
        <input type="text" th:field="*{email}"/>
        <p th:if="${#fields.hasErrors('email')}"
           th:each="err: ${#fields.errors('email')}"
           th:text="${err}">Validation error</p>
    </div>
    <div>
        <label th:text="password">password</label>
        <input type="password" th:field="*{password}"/>
        <p th:if="${#fields.hasErrors('password')}"
           th:each="err: ${#fields.errors('password')}"
           th:text="${err}">Validation error</p>
    </div>
    <div>
        <label th:text="confirmPass">confirm</label>
        <input type="password" th:field="*{matchingPassword}"/>
    </div>
    <button type="submit" th:text="submit">submit</button>
</form>
<p th:if="${message}" th:text = "${message}">message</p>
<a th:href="@{/login.html}" th:text="loginLink">login</a>
</body>
</html>